*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body 
{
    /* background: rgb(154, 35, 154); */
}

@media (max-width:350px) {
    
}

.container
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#98cd12,#4e085f);
    padding: 10px;
}

.Notepad
{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin:100px,auto 20px;
    padding: 40px 30px 70px;
    border-radius: 30px;
    margin-left: 450px;
    margin-top: 50px;
}

.Notepad h3
{
    color: #002765;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
    justify-content: center;
}

.Notepad h3 img
{
     width: 30%;
     margin-left: 10px;
     margin-bottom: 20px;
}

.row
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
    background: #edeef0;

}

input
{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button
{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px ;  
}

ul li
{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li::before
{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(pics/uncheked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;


}

ul li.checked
{
    text-decoration: line-through;
    color: #555;

}

ul li.checked::before
{
   background-image: url(pics/checked\ btn.png);
}

ul li span
{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover
{
    background: #edffe0;

}
/* .list_container
{
    flex-wrap: wrap;
} */


